#hero {
    @include flexColumn();
    text-align: center;
    margin-top: 1rem;
    border-top-right-radius: 5rem;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("../Media/Vivero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    @extend %black;
    font-size: 2.2em;
    margin: 2rem auto;
}

h4 {
    color: darken($color-fuente-w, 10%);
    font-size: 1.2em;
}

.hero__p {
    font-size: 1.1em;
    padding: 2rem;
    color: $color-fuente-w;
}

@media (min-width: 1024px) {
    #hero {
        height: 110vh;
        border-top-right-radius: 0px;
        margin: 0;
    }

    .l-and-p {
        display: block;
        width: 11ch;
        margin-bottom: 1rem;
        white-space: nowrap;
        border-right: 4px solid;
        animation: typing 3s steps(11), blink .5s infinite step-end alternate;
        overflow: hidden;
        font-size: 2.6em;
    }
        
    @keyframes typing {
        from { width: 0}
    }
        
    @keyframes blink {
        50% {border-color: transparent}
    }

    h4 {
        font-size: 1.6em;
    }

    .hero__p {
        width: 70vw;
        margin: 0 auto;
        font-size: 1.3em;
    }

    .carritoDeFlores-link {
        color: transparent !important;
        text-decoration: none;
        width: 40vw;
        height: 55vh;
        margin: 0.5rem auto;
    }

    .carritoDeFlores {
        display: inline-block;
        width: 40vw;
        height: 55vh;
        margin: 0.5rem auto;
        border-radius: 1.5rem;
        background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
        )
        ,url("../Media/carritoDeFlores.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &:hover {
            background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.4),
            rgba(0,0,0,0.4)
            )
            ,url("../Media/carritoDeFlores.jpg");
            box-shadow: 0.6rem 0.6rem 0.6rem 0.6rem rgba(0, 0, 0, 0.4);
        }
    }
}

@media (min-width: 1280px) {
    #hero {
        height: 120vh;
    }

    .carritoDeFlores-link {
        height: 65vh;
    }

    .carritoDeFlores {
        height: 65vh;
    }
}